.hinnadRegion{ 
    width: 70%;
    margin: 0px auto 0px auto;
    padding: 5% 2% 3% 2%;
}
.mainHeading{
    font-weight: 900;
    font-size: 4rem;
    text-align: center;
}
.information{
    font-weight: 500;
    font-size: 1.5rem;
}
.listprice{
    font-weight: 500;
    font-size: 1.5rem;
}

.makePurchase{
    border: none;
    margin: 0px auto 0px auto;
    padding: 1% 6%;
    background-color: #cf0606;
    color: whitesmoke;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 10px;

}
.makePurchase:hover{
    border: 1px solid #cf0606;
    background-color: whitesmoke;
    color: #cf0606;
    cursor: pointer;
}
@media screen and (min-width: 500px) {
    .mainHeading{
        font-size: 2rem;
    }
    
}