.header{
    display: flex;
}
.logoImage{
    width: 6rem;
    height: 4.5rem;

}
.logoText{
    color: #cf0606;
    padding-top: 0.6%;
    font-size: 2rem;
}
.shoppingCart{
    width: 2.7rem;
    height: 2.7rem;
    padding-top: 0.7%;
    position: absolute;
    top: 1%;
    right: 5%;
    cursor: pointer;
}

